* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
}

.register-container {
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.register-form {
  width: 300px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn-register {
  background-color: #5cb85c;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.btn-register:hover {
  background-color: #4cae4c;
}
.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-register,
.btn-back {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
}

.btn-back {
  background-color: #b0f379;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-back:hover {
  background-color: #5a6268;
}
