.register-container {
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: 20px auto;
}

.register-form {
  width: 250px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn-register {
  background-color: #222730;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.btn-register:hover {
  background-color: #131414;
}
.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-register,
.btn-back {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
}

.btn-back {
  background-color: #222730;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-back:hover {
  background-color: #131414;
}
