.snippet-container {
  margin-top: 20px;
  padding: 20px;
}

.snippet {
  position: relative; 
  display: inline-block;
  vertical-align: top;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: auto;
  max-width: 100%;
}

.snippet pre {
  white-space: pre-wrap;
  word-break: break-word;
}

.snippet:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.snippet:last-child {
  border-bottom: none;
}
.snippetList {
  text-align: left;
  text-shadow: red;
}

.snippet h2 {
  color: #333;
  margin-bottom: 10px;
}

.snippet p {
  margin-bottom: 5px;
}

.snippet p.author {
  font-style: italic;
  color: #070707;
}

.navbar {
  margin-bottom: 40px;
}
.author {
  margin-top: auto;
  font-style: italic;
  color: #666;
  text-align: right;
}
.hljs {
    background: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
}

.hljs-keyword, .hljs-selector-tag, .hljs-literal, .hljs-section, .hljs-link {
    color: #690;
}

.hljs-function .hljs-keyword {
    color: #069;
}

.hljs-string, .hljs-symbol, .hljs-bullet, .hljs-addition {
    color: #e90;
}

.hljs-comment, .hljs-quote, .hljs-meta, .hljs-deletion {
    color: #a50;
}

.hljs-attribute {
    color: #07a;
}
.delete-btn {
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: rgb(14, 14, 14);
    top: 10px;
    right: 10px;
    z-index: 2;
    padding: 5px 10px;
    font-size: 0.8rem;
  }
  .edit-btn {
    position: absolute;
    color: #fff;
    background-color: #121213;
    top: 10px;
    right: 60px;
    z-index: 2;
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 20px;
}
.edit-btn:hover {
  opacity: 0.8;
}
.create-snippet-container {
  text-align: center;
  margin: 20px 0;
}

.create-snippet-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #070707;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.create-snippet-btn:hover,
.create-snippet-btn:focus {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.create-snippet-btn:active {
  background-color: #004085;
  transform: translateY(1px);
}