<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container">
        <h1>Welcome</h1>
        <% if (locals.success_msg) { %>
            <div class="alert alert-success"><%= success_msg %></div>
        <% } %>
        <nav class="navbar">
            <ul class="nav-links">
                <% if (!locals.userId) { %>
                    <li class="nav-item"><a href="/users/login">Login</a></li>
                    <li class="nav-item"><a href="/users/register">Register</a></li>
                <% } else { %>
                    <li class="nav-item"><a href="/users/logout">Logout</a></li>
                <% } %>
                <li class="nav-item"><a href="/snippets">View Snippets</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
