<% if (success_msg.length > 0) { %>
  <% success_msg.forEach(function(message) { %>
    <div class="alert alert-success message"><%= message %></div>
  <% }); %>
<% } %>

<% if (error_msg.length > 0) { %>
  <% error_msg.forEach(function(message) { %>
    <div class="alert alert-danger message"><%= message %></div>
  <% }); %>
<% } %>
<script>
  window.onload = function() {
    var messages = document.querySelectorAll('.message')
    messages.forEach(function(message) {
      setTimeout(function() {
        message.style.display = 'none'
      }, 5000)
    })
  }
</script>
